.navbar{
    font-size: large;
    font-weight: bold;
    text-align:center;
    margin-top: 2%;
    background-color: white;
    width: 20em;
    height: 10em;
    border:  3px solid green;
    margin-left: 2%;
    padding: 1% 0% 1% 0%;
    box-shadow: 5px 5px 10px 3px green;


}
.sidebar{
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
    background-color: white;
    width: 20em;
    height: 9em;
    border:  3px solid rgb(167, 229, 21) ;
    margin-left: 2%;
    margin-top: 2%;
    padding: 1% 0% 1% 0%;

}
.categories{
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    background-color:white;
    width: 20em;
    border:  3px solid rgb(32, 158, 45) ;
    margin-left: 2%;
    margin-top: 2%;
    
}
.tags{
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    background-color:white;
    width: 20em;
    border:  3px solid rgb(32, 184, 62);
    margin-left: 2%;
    margin-top: 10%;

}
.blogdetail{
    background-color: white;
    width: 30em;
    border:  3px solid rgb(17, 163, 14) ;
    margin-left: 30%;
    margin-top: -30%;
    text-align: center;

}
.home{
    background-color: white;
    width: 30em;
    border:  3px solid rgb(17, 163, 14) ;
    margin-left: 30%;
    margin-top: 2%;
    text-align: center;
}