@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Rubik+Burned&display=swap');

.navbar{
    font-family: "Rubik Burned", system-ui;
  font-weight: 400;
  font-style: normal;
    font-size: large;
    font-weight: bold;
    text-align:center;
    margin-top: 0%;
    background-color: white;
    width: 20em;
    height: 10em;
    border:  3px solid green;
    margin-left: 10%;
    padding: 1% 0% 1% 0%;

}

.sidebar{
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
    background-color: white;
    width: 20em;
    height: 9em;
    border:  3px solid rgb(21, 229, 59) ;
    margin-left: 10%;
    margin-top: 2%;
    padding: 1% 0% 1% 0%;

}
.categories{
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    background-color:white;
    width: 20em;
    border:  3px solid rgb(32, 158, 45) ;
    margin-left: 1%;
    margin-top: 2%;
    
}
.tags{
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    background-color:white;
    width: 20em;
    border:  3px solid rgb(32, 184, 62);
    margin-left: 1%;
    margin-top: 10%;

}
.blogdetail{
    background-color: white;
    width: 30em;
    border:  3px solid rgb(17, 163, 14) ;
    margin-left: 50%;
    margin-top: -30%;
    text-align: center;

}
.home{
    font-family: "Rubik Burned", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    width: 30em;
    border:  3px solid rgb(17, 163, 14) ;
    margin-left: 50%;
    margin-top: -30%;
    text-align: center;
    
  }
  


.toggle{
  background-color:green;
  padding: 4px;
  text-align: center;
  font-size: 10px;
  width:fit-content;
  margin-left: 65%;
  border: 2;
  margin-top: 5%;

}

.creator{
    font-family: 'Rubik Burned', system-ui;
    font-weight: 400;
    font-size: 1.2rem;
     color: greenyellow;
     margin: 0;
     transform: rotate(35deg);
     transition: transform 0.3s ease;
}

.creator:hover{
    transform: rotate(35deg) scale(1.5);
}

.creator-preview{
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid greenyellow;
    border: 2px solid green;
}

.creator-preview:hover{
    box-shadow: 1px 3px 5px green(0,0,0,0,5);

}

.creator-preview h2{
    font-size: 20px;
    color: greenyellow;
    margin-bottom: 8px;
}